body {
	background-color: black;
	font: 14px verdana; }
header {
	background-color: black; }
h1 {
	color: white;
	text-align: center; }
section {
	width: 80%;
	margin: auto; 
	background-color: teal; 
	background: url("../imagenes/fondo.jpg");
	padding: 10px 5%; }
section p{
	line-height: 40%; }
section ul li{
    list-style: none; }
a {
	text-decoration: none;
	color: black; }
a:hover{
	background: black;
	color: white; }
