body{
	background-color: steelblue; 
	color: white; }
article{
	width: 90%; 
	background-color: #d6eaf8 ; 
	margin: 10px auto; 
	padding: 20px;
	color: black; 
	text-align:center;	}	
.captura {
	width: 80%; }	